node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
/components/ui
.eslintignore
.eslintrc.json
.prettierignore
components.json
middleware.ts
tsconfig.json
tailwind.config.js
postcss.config.js
package.json
package-lock.json
next-env.d.ts